* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-gap: 2px;
    width: 250px;
    height: 500px;
    margin: 15px auto;
    padding: 2px;
    background: rgb(34, 33, 33);
}
.container > div {
    padding: 3px;
    box-sizing: border-box;
    font-size: 5px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.container > div:nth-child(even) {
    background: #313030;
}
.container > div:nth-child(odd) {
    background: #424242;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item-3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.item-4 {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1; 
}
.item-6 {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;  
}
.item-7 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;    
}
.item-8 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3; 
}
.item-9 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;  
}
.item-11 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;  
}
.item-10 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}
.item-12 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;  
}
.item-14 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item-16 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;  
}
.item-18 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6; 
}
.item-15 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}
.item-13 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;   
}
.item-19 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;  
}
.item-20 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;  
}
.item-17 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 10;  
}
.item-21 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.item-22 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8; 
}
.item-23 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;  
}
.item-24 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;  
}
.item-25 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
}
.item-26 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 13;
}
.item-27 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;    
}
.item-28 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 11;  
}
.item-32 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 12;   
}
.item-36 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 13;   
}
.item-41 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 14;    
}
.item-29 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;   
}
.item-33 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 12;   
}
.item-37 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 13;   
}
.item-42 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 13;
    grid-row-end: 14;
}
.item-30 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 11;  
}
.item-34 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 12;  
}
.item-38 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 13;   
}
.item-43 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 13;
    grid-row-end: 14;   
}
.item-31 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 11;   
}
.item-35 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 12;   
}
.item-39 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 12;
    grid-row-end: 13;  
}
.item-44 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 13;
    grid-row-end: 14;   
}
.item-40 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 17;   
}
.item-45 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 18;    
}
.item-46 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 14;
    grid-row-end: 15;  
}
.item-47 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 15;
    grid-row-end: 16;   
}
.item-48 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 16;
    grid-row-end: 17;   
}
.item-49 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 17;
    grid-row-end: 18;    
}
.item-50 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 17;
    grid-row-end: 18;
}
